* {
  font-family: 'Roboto Condensed', serif;
}
.hidden {
  display: none;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  text-shadow: 0px 0px 10px black;
  color: white;
  width: 60%;
  font-size: 30px;
}

input:focus {
  outline: none;
}
