#weather {
  text-align: center;
  font-family: monospace;
  color: white;
  text-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: left;
}

#weather-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: right;
}

#temp {
  margin-top: 10px;
}

#weather-icon {
  width: 55px;
  height: 55px;
}
